<section class="info">
  <div class="card info__user">
    <div class="info__description">
      <h1 class="info__name">Bienvenido ¡Yessica! 👋</h1>
      <p class="info__text">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Alias est
        architecto fugit dolores tempora non quidem temporibus dolorum, officiis
        veritatis harum corporis reprehenderit, ea, molestiae amet? Amet modi
        exercitationem dicta?
      </p>
    </div>
    <picture class="info__picture">
      <img
        src="https://randomuser.me/api/portraits/women/81.jpg"
        alt="User Photo"
        class="info__img"
      />
    </picture>
  </div>
  <div class="card info__activity">
    <app-calendar></app-calendar>
  </div>
</section>
