<div class="backdrop" #backdrop (click)="exit($event)">
  <div class="modal">
    <h2 class="modal__title">Programacion de Datos</h2>
    <iframe
      class="modal__iframe"
      [src]="safeURL"
      allowfullscreen
      X-Frame-Options="true"
      referrerpolicy="strict-origin-when-cross-origin"
    ></iframe>

    <div class="modal__description">
      <h1 class="modal__text">Clase #1: Tipos de datos</h1>
      <p class="modal__paragraph">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt
        inventore repudiandae illo ipsum in dolorum minus reprehenderit sed
        ratione debitis, facere, minima repellendus natus numquam deleniti
        voluptatum, odit asperiores unde. Itaque quam facere doloremque.
        Exercitationem vitae deserunt saepe repellendus eos consequuntur
        provident! Labore rerum natus quas alias necessitatibus, repellat est
        dicta similique tenetur modi molestiae fuga in perspiciatis illo sit?
        Asperiores a tempore voluptatem, facilis praesentium at maiores ipsam
        harum similique possimus consequuntur quibusdam natus accusamus id
        eaque, minima doloribus veniam adipisci perspiciatis autem molestias
        dolorum! Aliquam blanditiis illum dignissimos. Illo error voluptatum
        recusandae excepturi nihil culpa consequuntur! Sed architecto iste saepe
        ducimus fugit recusandae aperiam accusantium deleniti, veritatis eaque
        molestiae eos iure inventore dolor, laudantium sint. Vitae, quos esse?
      </p>
      <br>
      <p class="modal__paragraph">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt
        inventore repudiandae illo ipsum in dolorum minus reprehenderit sed
        ratione debitis, facere, minima repellendus natus numquam deleniti
        voluptatum, odit asperiores unde. Itaque quam facere doloremque.
        Exercitationem vitae deserunt saepe repellendus eos consequuntur
        provident! Labore rerum natus quas alias necessitatibus, repellat est
        dicta similique tenetur modi molestiae fuga in perspiciatis illo sit?
        Asperiores a tempore voluptatem, facilis praesentium at maiores ipsam
        harum similique possimus consequuntur quibusdam natus accusamus id
        eaque, minima doloribus veniam adipisci perspiciatis autem molestias
        dolorum! Aliquam blanditiis illum dignissimos. Illo error voluptatum
        recusandae excepturi nihil culpa consequuntur! Sed architecto iste saepe
        ducimus fugit recusandae aperiam accusantium deleniti, veritatis eaque
        molestiae eos iure inventore dolor, laudantium sint. Vitae, quos esse?
      </p>
    </div>
  </div>
</div>
