<aside class="aside">
  <div class="aside__header">
    <picture class="aside__logo">
      <img
        src="../../../assets/images/logos/icon.png"
        alt="CUV Logo"
        class="aside__img"
      />
    </picture>
    <nav class="aside__nav">
      <ul class="aside__list">
        <li class="aside__item" *ngFor="let item of listAside">
          <button
            class="aside__cta icon"
            [routerLink]="item.path"
            routerLinkActive="icon--active"
            [routerLinkActiveOptions]="{
              exact: true
            }"
          >
            <i class="pi pi-{{ item.icon }}"></i>
            <span class="icon__text"> {{ item.text }} </span>
          </button>
        </li>
      </ul>
    </nav>
  </div>
  <div class="aside__footer">
    <button class="footer__cta icon">
      <i class="pi pi-sign-out"></i>
      <span class="icon__text">Salir</span>
    </button>
  </div>
</aside>
